---
---

{% include header-intra.html %}


<section>
<div class="container twt" style="padding:50px; border-radius:10px; text-align:center;">
    <div id="certificado" class="certificado">
        <canvas id="canvasCertificado"></canvas>
        <br>
        <br>
        <button class="btn btn-danger btn-lg" onclick="guardarCertificado()">
            Guardar certificado
        </button>
    </div>
</div>
</section>


<script>

const canvas = document.getElementById("canvasCertificado");
const ctx = canvas.getContext("2d");
const imagen = new Image();
    imagen.src = "/images/ft/certificado.png";
const params = new URLSearchParams(window.location.search);
const nombre = params.get("nombre") || "Nombre del estudiante";


    imagen.onload = async function(){

    await document.fonts.load('80px "Kunster Script"');
    // Tamaño real de la imagen
        canvas.width = imagen.width;
        canvas.height = imagen.height;
    dibujarCertificado();

};


function dibujarCertificado(){
    ctx.clearRect(0,0,canvas.width,canvas.height);

    // Fondo
    ctx.drawImage(
        imagen,
        0,
        0,
        canvas.width,
        canvas.height
    );

    // Escala basada en ancho original
    const escala = canvas.width / imagen.width;

    // Nombre

    ctx.font = `${80 * escala}px "Kunster Script"`;
    ctx.fillStyle="#000";
    ctx.textAlign="center";


    ctx.fillText(
        nombre,
        canvas.width/2,
        645 * escala
    );

    // Fecha

    ctx.font = `${30 * escala}px Arial`;

    const fechaActual = new Date();

    const opciones = { 
        day: "numeric",
        month: "long",
        year: "numeric"
    };

    const fechaTexto = fechaActual.toLocaleDateString("es-ES", opciones);


    ctx.fillText(
        fechaTexto,
        canvas.width/3.8,
        900 * escala
    );

}


// Guardar

function guardarCertificado(){

    const enlace=document.createElement("a");

    enlace.download="certificado.png";
    enlace.href=canvas.toDataURL("image/png");
    enlace.click();

}


// Redibujar si cambia tamaño
window.addEventListener("resize", dibujarCertificado);

</script>



{% include footer-intra.html %}