/* Hero section */
.hero {
  background: linear-gradient(rgb(0, 4, 255, 0.6), rgba(1, 26, 217, 0.6)),
              url("2.jpg") center/cover no-repeat;
  height: 100vh;
}

/* Sección de valores */
#valores .card {
  border: none;
  transition: transform 0.3s ease-in-out;
}

#valores .card:hover {
  transform: translateY(-10px);
}
h1{
  font-weight: bold;
}
p{
  margin:0px;
}
.stronger{
  background-color: #0000aa;
  color:white;
  font-weight: 600;
  height: 50px;
}
.prim{
  background-color: #0000dd;
}

