---
---

{% include header-intra.html %}


<div class="paisaje-large" style="padding:50px;">

    <h2 class="wt" style="text-align:center; margin-bottom:40px;">Contenido del curso</h2>
    <div class="curso-grid">

      <!-- Tema 1 -->
      <div class="card-curso">
        <img src="/images/ft/fondo.jpg" alt="Tema 1">
        <div class="card-body">
          <h4>Saludos en Aleman</h4>
          <p>Aprende a Saludar correctamente en Alemán</p>
          <a href="/cursos/leccion1.html" class="btn-curso">Ver lección</a>
        </div>
      </div>


      <!-- Tema 2 -->
      <div class="card-curso">
      <img src="/images/ft/fondo.jpg" alt="Tema 2">
        <div class="card-body">
          <h4>Das Wetter</h4>
          <p>Vocabulario escencial relacionado al Clima.</p>
          <a href="/cursos/leccion2.html" class="btn-curso">Ver lección</a>
        </div>
      </div>


      <!-- Tema 3 -->
      <div class="card-curso">
      <img src="/images/ft/fondo.jpg" alt="Tema 3">
        <div class="card-body">
          <h4>Poesia en alemán</h4>
          <p>Inspirado en poesia latinoamericana.</p>
          <a href="/cursos/leccion3.html" class="btn-curso">Ver lección</a>
        </div>
      </div>

    </div>

  <div style="text-align:center; margin-top:30px;">
    <a href="/examen-aleman-a1" class="btn-curso">Kursprüfung starten</a>
  </div>
  
</div>

{% include footer-intra.html %}
